.pagetitle{
    width:600px;
    height:200px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -100px;
}

.resultsdiv{
    width:600px;
    max-height:200px;
    margin-top: 20%;
    margin-left: 100px;
}
