.pagetitle{
    width:600px;
    height:200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.resultsdiv{
    width:600px;
    max-height:200px;
    margin-top: 400px;
    margin-left: 100px;
}
